body {  
    font-family: Arial, sans-serif;
    margin: 20px;
}
.background-image {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.3)), /* Sobrepõe um gradiente escuro */
        url('../IMG/img1.jpg'); /* Caminho da imagem de fundo */
    background-size: cover; /* A imagem cobre toda a área */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    background-attachment: fixed; /* Fixa a imagem enquanto a página rola */
    height: 100%; /* O fundo ocupa 100% da altura */
    width: 100%; /* O fundo ocupa 100% da largura */
    position: absolute; /* Posiciona a imagem de fundo de forma absoluta */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    z-index: -1; /* Coloca a imagem de fundo atrás de outros elementos */
}

button {
    padding: 10px 20px;
    background-color: #1d0b80;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #081956;
}

.all {
    display: flex;
    flex-direction: column; /* Adicionado para empilhar os elementos */
    align-items: center;    /* Centraliza os itens horizontalmente */
    padding-top: 180px;
}
h1{
    color: white;
}
