/* Define estilos para os elementos <body> e <html> para garantir que a página use toda a altura disponível */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Estiliza o contêiner da imagem de fundo */
.background-container {
    position: relative;
    height: 100vh;
}

/* Estiliza a imagem de fundo */
.background-image {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)),
        url('img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Estiliza o contêiner do texto */
.text-container {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    box-sizing: border-box;
}

/* Estiliza os links */
a {
    color: aliceblue;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
    color: rgb(77, 57, 255);
    text-decoration: none;
}

/* Contêiner das criptomoedas */
.crypto-container {
    position: absolute;
    top: 50%;
    right: 90px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;

    /*login-box*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 5.1);
    background: rgba(3, 3, 46, 0.205);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.822);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    left: auto;
    border-radius: 8%;
}

/* Estiliza cada criptomoeda */
.crypto {
    padding: 5px;
    border-radius: 10px;
    width: 260px; /* Ajuste a largura conforme necessário */
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.crypto-symbol {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    display: block;
    margin-top: 5.5px; /* Adicionado para descer 2px */
    padding-right: 15px;
}

.price {
    font-size: 14px;
    margin: 5px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.change {
    font-size: 14px;
    margin: 5px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.change.positive {
    color: green;
}

.change.negative {
    color: rgb(155, 2, 2);
}

/* Estiliza a logo */
.logo {
    position: absolute;
    top: -13%;
    left: -50px;
    z-index: 0;
    display: flex;
}

.logo img {
    width: 325px;
    height: auto;
}
