/* Define estilos para os elementos <body> e <html> para garantir que a página use toda a altura disponível */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Estiliza o <div> com a classe 'background-image' */
.background-image {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), /* Gradiente preto transparente */
        url('imagem-provisoria-tcc-24.jpg'); /* Caminho para a imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra todo o fundo */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Mantém a imagem fixa durante o rolar da página */
    height: 100vh; /* Define a altura da <div> para 100% da altura da viewport */
    display: flex; /* Usa Flexbox para o layout dos itens dentro do <div> */
    align-items: center; /* Alinha verticalmente o conteúdo no centro do <div> */
    justify-content: center; /* Alinha horizontalmente o conteúdo no centro do <div> */
}

/* Estiliza a caixa de login */
.login-box {
    background: rgba(255, 255, 255, 0.2); /* Fundo branco com 20% de opacidade para criar um efeito transparente */
    width: 300px; /* Largura fixa da caixa */
    height: 300px; /* Altura fixa da caixa */
    border-radius: 10px; /* Bordas arredondadas para um efeito mais suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade à caixa */
    text-align: center; /* Centraliza o texto dentro da caixa */
    box-sizing: border-box; /* Inclui o padding e border no cálculo da largura e altura da caixa */
    padding: 20px; /* Adiciona espaçamento interno */
}

/* Estiliza o título <h1> dentro da caixa de login */
.login-box h1 {
    margin: 0 0 10px; /* Remove a margem superior e define a margem inferior */
    font-size: 24px; /* Tamanho da fonte para o título */
    color: #ffffff; /* Cor do texto do título */
    margin-top: 4px;
    padding: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Estiliza o título <h2> dentro da caixa de login */
.login-box h2 {
    color: white; /* Cor do texto do <h2> */
    font-size: 12px; /* Tamanho da fonte para o <h2> */
    margin: 10px 10px; /* Adiciona margem superior e inferior para separar o <h2> de outros elementos */
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Estiliza a caixa de texto dentro da caixa de login */
.login-box textarea {
    margin: 0; /* Remove a margem padrão do textarea */
    font-size: 10px; /* Tamanho da fonte para o textarea */
    box-sizing: border-box; /* Inclui o padding e border no cálculo da largura e altura do textarea */
    height: 15px; /* Altura do textarea */
    width: 200px; /* Largura do textarea */
}
.input-email {
    display: flex; /* Usa Flexbox para o layout dos itens dentro do contêiner */
    align-items: center; /* Alinha verticalmente o texto e textarea no centro */
    justify-content: flex-start; /* Alinha horizontalmente o conteúdo ao início */
    margin: 20px 0; /* Adiciona espaçamento superior e inferior */
}
.input-senha{
    display: flex; /* Usa Flexbox para o layout dos itens dentro do contêiner */
    align-items: center; /* Alinha verticalmente o texto e textarea no centro */
    justify-content: flex-start; /* Alinha horizontalmente o conteúdo ao início */
    margin: 20px 0; /* Adiciona espaçamento superior e inferior */
}