/* Define o estilo do corpo da página */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Estiliza a imagem de fundo usando background-image */
.background-image {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.3)),
        url('img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}



/* Estiliza o cabeçalho */
header {
    text-align: center;
    padding: 20px;
    color: white;
    z-index: 1;
}

/* Estiliza o contêiner de texto */
.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Ajuste o valor se necessário */
    margin: 0 auto;
}

/* Estiliza o menu de navegação */
nav ul {
    list-style: none;
    padding-top: 28px;
    margin: 0;
    display: flex;
    gap: 70px; /* Ajuste o valor se necessário */
}

nav ul li a {
    color: aliceblue;
    text-decoration: none; /* Remove o sublinhado */
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li a:hover {
    color: rgb(77, 57, 255);
    text-decoration: none; 
}

/* Estiliza o formulário de contato */
#contact {
    margin: 50px auto;
    width: 50%;
    color: white;
    text-align: center;
}

#contact input, #contact textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 15px;
  
}

#contact button {
    padding: 10px 25px;
    background-color: #100855;
    color: white;
    border: none;
    cursor: pointer;
}

#contact button:hover {
    background-color: #10155e;
}

/* Estiliza o rodapé */
footer {
    text-align: center;
    padding: 23px;
    color: white;
}

/* Estiliza o logo */
.logo {
    position: absolute;
    top: -70px;
    left: -40px;
    z-index: 1;
}

.logo img {
    width: 303px;
}